<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>           
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="" class="dropdown-item">Men</a>
                <a href="" class="dropdown-item">Women</a>
                <a href="" class="dropdown-item">Unisex</a>
                <a href="" class="dropdown-item">Children</a>
                <a href="" class="dropdown-item">Restored</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">DD 1</a>
                <a href="" class="dropdown-item">DD 2</a>
                <a href="" class="dropdown-item">DD 3</a>
                <a href="" class="dropdown-item">DD 4</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">
                Discussion Forum
            </a>         
        </li>
    </ul>
</div>