html {
    height: 100%;
}

body {
  height: calc(100vh - 164px);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.background {
    width: 100%;
    background: linear-gradient(to right, #f12711, #f5af19);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0;
}

a {
    color: #00ece2;
    text-decoration: none;
}

/* header */

#topnav {
    margin-top: 0;
    margin-bottom: 0;
}

.main-logo-link {
    width: fit-content;
}

.search-form form {
    position: relative;
    margin-bottom: 5px;
}

.search-form form button {
    position: absolute;
    right: 4px;
    top: 4px;
}

.search-form form input {
    height: 55px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 30px;
    font-size: 14px;
    color: #666;
}

.header-menu ul li {
    margin-right: 20px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.header-menu ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #111;
    font-weight: 500;
    padding: 2px 0;
    cursor: pointer;
}

.right-list {
    display: inline-block;
    margin-right: 25px;
    text-align: right;
    padding: 30px 0 27px;
}

.header-right-widgets li {
    list-style: none;
    font-size: 18px;
    color: #111;
    cursor: pointer;
}

.header-logo {
    padding: 26px 0;
}

a.bag-info {
    color: #111;
}

a.bag-info:focus,
a.bag-info:hover {
    color: #5247d4;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hero-box {
  padding: 0;
  display: flex;
  position:relative;
  padding-top: 262px;
  height: 638px;
  justify-content: center;
  align-items: center;
}

.heading-1 {
    color: #0d0f13;
    font-size: 5vw;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.05em;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 70%;
}

.sub-head {
  max-width: 430px;
  padding-top: 24px;
  padding-bottom: 32px;
  font-family: Campton, sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 500;
}

.header-button {
    position: absolute;
    padding: 16px 24px;
    border-style: solid;
    border-width: 2px;
    border-color: #0d0f13;
    border-radius: 300px;
    background-color: transparent;
    color: #0d0f13;
    font-size: 18px;
}