{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home {% endblock %}

{% block page_header %}
<div class="container container-fluid masthead header-container">
    <!-- Hero -->
    <div class="container d-flex flex-column">
        <div class="hero-box">
            <div class="row row-cols-1 text-center">
                <div class="col">
                    <h1 class="mb-3 heading-1 text-center">Community, collaboration, connection...</h1>
                </div>
                <div class="col">
                    <h4 class="mb-3 sub-head">A community made by Malvern, for Malvern.</h4>
                </div>
                <div class="col">
                    <a class="btn btn-primary header-button" href="" role="button">Join our community</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="section-box">
    <div class="section-header">
        <h1 id="gradient-heading-2" class="heading-2 gradient">Who We Are</h1>

            <img src="{{ MEDIA_URL }}malvern-hill-g73f85985b_1920.jpg" alt="The Malvern Hills">
        </div>
    </div>
</section>

<section class="section-box-2 row">
    <div class="section-header-left col-md-6">
        <h1 class="heading-1 mx-5 p-3">
            This is some test text
        </h2>
    </div>
    <div class="section-header-left col-md-6 text-center">
        <h3 class="subhead-2 mx-5 p-3">
            We don't just talk. We collaborate to turn our ideas into action and making a positive impact in the world. Everyone is welcome. Everyone has something to give.
        </h3>
    </div>


</section>
{% endblock %}